body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .title {
    display: flex;
    justify-content: center;
    color: black;
    background-color: green;
    font-size: 100px;
  }

  .input-container{
    display: flex;
    height: 26px;
    gap: 26px;
  }

  #input{
    border-radius: 4px;
  }

  #submit-btn{
    background-color: black;
    color: white;
    padding: 1px 1px 1px 1px;
    height: 100%;
    border-radius: 4px;
  }

